RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^scottishmotorhomes4hire.co.uk [NC]
RewriteRule ^(.*)$ http://www.scottishmotorhomes4hire.co.uk$1 [L,R=301]
RedirectMatch 301 ^/development/$ http://dev.scottishmotorhomes4hire.co.uk/$1
# BEGIN WordPress

# END WordPress
